# Environment variables
.env
.env.*

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/
env/
env.bak/
venv.bak/

# Flask session files
flask_session/

# Google Cloud credentials
*.json
credentials/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Uploaded files (optional, depending on your storage strategy)
# static/uploads/