<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fashion App - Home</title>
    <link rel="stylesheet" href="static/css/homeStyle.css" />
  </head>
  <body>
    <div class="container">
      <h1>Welcome to AesCLO</h1>
      <p>
        Upload your clothes, organize your wardrobe, and generate stylish
        outfits effortlessly.
      </p>
      <div class="buttons">
        <a href="{{ url_for('upload') }}" class="btn">Upload Clothing Items</a>
        <a href="{{ url_for('generator') }}" class="btn">Generate Outfit</a>
        <a href="{{ url_for('wardrobe') }}" class="btn">View Wardrobe</a>
      </div>
    </div>
  </body>
</html>
